header,footer{
    background-color:gray;
}
aside{
    float:left;
    width:20%;
    background-color: silver;
    margin-right:2%;
}
aside li{
    list-style: none;
}
article{
    float:right;
    width: 78%;
    background-color: silver;
}
footer{
    clear:both;
    position: relative;
    top:15px;
}
header,footer,aside,article{
    outline-color: black;
    outline-style: solid;
    outline-width: 1px;
}
body{
    background-color: silver;
}